* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;

}

section.module.parallax-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../img/favela.jpg);
    filter: grayscale(100%) brightness(30%) contrast(100%);

}


section.module.parallax h1 {
    color: #fff;
    text-align: left;
    font-size: 58px;
    z-index: 9;
    width: 40%;
    position: relative;
}

section.module.parallax h4 {
    color: #fff;
    text-align: center;
    font-size: 13px;
    z-index: 9;
    font-weight: 300;
    position: relative;

}

section.moduleContent {
    background-color: #FFFF;
    height: 500px;
    padding: 50px 10px;
    
}


.container {
    color: var(--titleColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.overlay {
    height: 500px;
    width: 180px;
    background-color: var(--detaisYellow);
    position: absolute;
    z-index: 1;
    left: 25.5%;
}

.lerMaisBtn {
    z-index: 1;
    padding: 15px 20px;
    width: 155px;
    background-color: var(--detailsBlue);
    position: relative;
    right: 16%;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    border: none;
}



@media only screen and (max-width: 1024px) {
    h4.fundo {
        width: 50%;
        position: relative;
        color: #fff;
        top: 200px;
        left: 50px;
        align-items: center;
        font-size: 4.5vw;
        transition: 0.5s;
        text-transform: uppercase;
    }

    section.module.parallax h1 {
        font-size: 35px;
        width: 80%;
    }

    section.module.parallax h4 {
        font-size: 13px;
        width: 50%;

    }


    .overlay {
        height: 400px;
        width: 90px;
        left: 2%;
    }

    .lerMais {
        width: 130px;
        right: 25%;
    }

}