*{
  margin: 0;
}

footer{
  color: #fff;
  background-color: #676666;
}

footer > h1 {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.box-footer{
  display: flex;
  justify-content: space-around;
}

div > ul {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

div > ul > a{
  text-decoration: none;
  color: #fff;
}

.box-copy{
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #2e2e2e;
}