@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--detailsBlue:#3990FB;
    --detaisYellow:#EFC900;
    --titleColor:#676666;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
}


header {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	z-index: 99999;
	background-color: transparent;
	padding: 0 30px;
}


nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	position: relative;
    
}


header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.7rem;
    color: #ffff;
}

.active-link {
	border-top: 4px solid var(--detaisYellow);
	padding: 10px 5px;
  }
  

header div,
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

li {
	list-style: none;
}

ul.nav-ul {
	display: flex;
	align-items: center;
    color:#FFFF;
}


h3 {
    color:#FFFF;
    font-family: 'Germania One', cursive;
    font-weight: 100;
}

.doarBtn {
    padding: 10px 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--detailsBlue);
    color:#fff;
	display: flex;
	border: none;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	ul {
		display: flex;
		flex-direction: column;
	}

	li{
		padding: 20px;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		transform: translateY(-300vw);
        z-index: 999999;
	
	}


	header .responsive_nav {
		transform: none;
		transition: 0.7s;
        background-color:#000000fd;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
		
	}

	nav a::after{
		content: "";
		width: 0px;
		height: 0px;
	  }

}