.bairroContainer {
  display: flex;
  margin: auto;
  height: 45%;
  background-color: #D9D9D9;
  padding: 30px 35px;
}

.bairroTituloDescricao {
  display: flex;
  flex-direction: column;

}

.bairroTitulo {
  font-weight: bold;
  margin-bottom: 10px;
}

.bairroDescricao {
  color: rgb(41, 41, 41);
}

.bairroImagem {
  width: 290px;
}

.containerTitulo {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  padding-left: 2%;
  padding-bottom: 20px;
}

.bairros {
  width: 75%;
}

@media only screen and  (max-width: 768px) {
  .bairros{
    width: fit-content;
  }
  .bairroImagem{
    width: 100%;
  }

  .bairroTituloDescricao, .bairroContainer {
    display: flex;
    flex-direction: column;
  }
}